# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environments
venv/
env/
mpenv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE files (e.g., for VSCode or PyCharm)
.vscode/
.idea/