<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Churn Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Error Message Style */
        .error {
            color: red;
            font-size: 0.9em;
        }
    </style>
</head>
<body>

    <h1>Customer Churn Prediction</h1>

    <div class="container">
        <!-- Form Section -->
        <div class="form-container">
            <form id="churnPredictionForm" method="POST" onsubmit="return validateForm()">
                <h2>Customer Details</h2>
                
                <div class="form-group">
                    <label for="Tenure">Tenure(months)</label>
                    <input type="number" id="Tenure" name="Tenure" min="0" value="{{ request.form['Tenure'] }}" required>
                    <span class="error" id="tenureError"></span>
                </div>

                <div class="form-group">
                    <label for="SatisfactionScore">Satisfaction Score</label>
                    <input type="number" id="SatisfactionScore" name="SatisfactionScore" min="0" value="{{ request.form['SatisfactionScore'] }}" required>
                    <span class="error" id="satisfactionScoreError"></span>
                </div>

                <div class="form-group">
                    <label for="Complain">Complain</label>
                    <select id="Complain" name="Complain" required>
                        <option value="0" {% if request.form['Complain'] == '0' %}selected{% endif %}>No</option>
                        <option value="1" {% if request.form['Complain'] == '1' %}selected{% endif %}>Yes</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="DaySinceLastOrder">Days Since Last Order</label>
                    <input type="number" id="DaySinceLastOrder" name="DaySinceLastOrder" min="0" value="{{ request.form['DaySinceLastOrder'] }}" required>
                    <span class="error" id="daysSinceLastOrderError"></span>
                </div>

                <div class="form-group">
                    <label for="CouponUsed">Coupons Used</label>
                    <input type="number" id="CouponUsed" name="CouponUsed" min="0" value="{{ request.form['CouponUsed'] }}" required>
                    <span class="error" id="couponsUsedError"></span>
                </div>

                <div class="form-group">
                    <label for="WarehouseToHome">Distance(KM) between Warehouse and Home</label>
                    <input type="number" id="WarehouseToHome" name="WarehouseToHome" min="0" value="{{ request.form['WarehouseToHome'] }}" required>
                    <span class="error" id="warehouseToHomeError"></span>
                </div>

                <div class="form-group">
                    <label for="NumberOfAddress">Number of Addresses</label>
                    <input type="number" id="NumberOfAddress" name="NumberOfAddress" min="0" value="{{ request.form['NumberOfAddress'] }}" required>
                    <span class="error" id="numberOfAddressError"></span>
                </div>

                <div class="form-group">
                    <label for="OrderCount">Order Count</label>
                    <input type="number" id="OrderCount" name="OrderCount" min="0" value="{{ request.form['OrderCount'] }}" required>
                    <span class="error" id="orderCountError"></span>
                </div>

                <div class="form-group">
                    <label for="CityTier">City Tier (1 to 3)</label>
                    <input type="number" id="CityTier" name="CityTier" min="1" max="3" value="{{ request.form['CityTier'] }}" required>
                    <span class="error" id="cityTierError"></span>
                </div>

                <div class="form-group">
                    <label for="MaritalStatus">Marital Status</label>
                    <select id="MaritalStatus" name="MaritalStatus" required>
                        <option value="Single" {% if request.form['MaritalStatus'] == 'Single' %}selected{% endif %}>Single</option>
                        <option value="Divorced" {% if request.form['MaritalStatus'] == 'Divorced' %}selected{% endif %}>Divorced</option>
                        <option value="Married" {% if request.form['MaritalStatus'] == 'Married' %}selected{% endif %}>Married</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="PreferredLoginDevice">Preferred Login Device</label>
                    <select id="PreferredLoginDevice" name="PreferredLoginDevice" required>
                        <option value="Mobile Phone" {% if request.form['PreferredLoginDevice'] == 'Mobile Phone' %}selected{% endif %}>Mobile Phone</option>
                        <option value="Phone" {% if request.form['PreferredLoginDevice'] == 'Phone' %}selected{% endif %}>Phone</option>
                        <option value="Computer" {% if request.form['PreferredLoginDevice'] == 'Computer' %}selected{% endif %}>Computer</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="PreferredPaymentMode">Preferred Payment Mode</label>
                    <select id="PreferredPaymentMode" name="PreferredPaymentMode" required>
                        <option value="Debit Card" {% if request.form['PreferredPaymentMode'] == 'Debit Card' %}selected{% endif %}>Debit Card</option>
                        <option value="UPI" {% if request.form['PreferredPaymentMode'] == 'UPI' %}selected{% endif %}>UPI</option>
                        <option value="CC" {% if request.form['PreferredPaymentMode'] == 'CC' %}selected{% endif %}>CC</option>
                        <option value="Cash on Delivery" {% if request.form['PreferredPaymentMode'] == 'Cash on Delivery' %}selected{% endif %}>Cash on Delivery</option>
                        <option value="E wallet" {% if request.form['PreferredPaymentMode'] == 'E wallet' %}selected{% endif %}>E wallet</option>
                        <option value="COD" {% if request.form['PreferredPaymentMode'] == 'COD' %}selected{% endif %}>COD</option>
                        <option value="Credit Card" {% if request.form['PreferredPaymentMode'] == 'Credit Card' %}selected{% endif %}>Credit Card</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Gender">Gender</label>
                    <select id="Gender" name="Gender" required>
                        <option value="Female" {% if request.form['Gender'] == 'Female' %}selected{% endif %}>Female</option>
                        <option value="Male" {% if request.form['Gender'] == 'Male' %}selected{% endif %}>Male</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="PreferedOrderCat">Preferred Order Category</label>
                    <select id="PreferedOrderCat" name="PreferedOrderCat" required>
                        <option value="Laptop & Accessory" {% if request.form['PreferedOrderCat'] == 'Laptop & Accessory' %}selected{% endif %}>Laptop & Accessory</option>
                        <option value="Mobile" {% if request.form['PreferedOrderCat'] == 'Mobile' %}selected{% endif %}>Mobile</option>
                        <option value="Mobile Phone" {% if request.form['PreferedOrderCat'] == 'Mobile Phone' %}selected{% endif %}>Mobile Phone</option>
                        <option value="Others" {% if request.form['PreferedOrderCat'] == 'Others' %}selected{% endif %}>Others</option>
                        <option value="Fashion" {% if request.form['PreferedOrderCat'] == 'Fashion' %}selected{% endif %}>Fashion</option>
                        <option value="Grocery" {% if request.form['PreferedOrderCat'] == 'Grocery' %}selected{% endif %}>Grocery</option>
                    </select>
                </div>

                <button type="submit">Predict Churn</button>
            </form>
        </div>

        <!-- Result Section -->
        {% if result %}
        <div class="result-container">

            <h2>Prediction Result</h2>

            <p style="margin-left: 40px;"><strong>Churn Status:</strong> {{ result.churn_status }}</p>

            <p style="margin-left: 40px;"><strong>Churn Probability:</strong> {{ result.churn_probability }}</p>

            <!-- <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Churn Status:</strong> {{ result.churn_status }}</p>
            <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Churn Probability:</strong> {{ result.churn_probability }}</p> -->
            <h3>User Input:</h3>
            <ul>
                {% for key, value in result.input_data.items() %}
                    <li><strong>{{ key }}:</strong> 
                        {% if key == 'Complain' %}
                            {{ 'Yes' if value == '1' else 'No' }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            {% if result.suggestions %}
                <h3>Suggestions To Avoid The Churn Of This Customer:</h3>
                <ul>
                    {% for suggestion in result.suggestions %}
                        <li>{{ suggestion }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <script>
        function validateForm() {
            let isValid = true;

            // Clear previous error messages
            document.querySelectorAll('.error').forEach(function(span) {
                span.textContent = '';
            });

            // Validate City Tier
            const cityTier = document.getElementById('CityTier').value;
            if (cityTier < 1 || cityTier > 3) {
                document.getElementById('cityTierError').textContent = 'City Tier must be between 1 and 3.';
                isValid = false;
            }

            // Validate other numeric inputs
            const numericFields = ['Tenure', 'SatisfactionScore', 'DaySinceLastOrder', 'CouponUsed', 'WarehouseToHome', 'NumberOfAddress', 'OrderCount'];
            numericFields.forEach(function(field) {
                const value = document.getElementById(field).value;
                if (value < 0) {
                    document.getElementById(field.toLowerCase() + 'Error').textContent = field + ' cannot be negative.';
                    isValid = false;
                }
            });

            return isValid;
        }
    </script>
</body>

<footer style="text-align: center; padding: 20px; font-size: 14px; color: #090909;">
    &copy; 2024 Arjun Khatiwada (Teesside University London). All rights reserved.
</footer>

</html>